/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* variables */
:root {
    --font_clr_pokemon_btn: #324CE0;
    --font_clr_secondary: #504d2d;
    --poke_btn_background_clr: #D5DB9D;
    --poke_btn_background_darker: #CCD384;
    --modal_border: #2a4122e3;
    --modal_background_clr: #B3D368;
    --modal_close_btn: #DF5353;
    --modal_close_btn_hover: #DF0909;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.pokedex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.pokedex-container__title {
    margin-left: auto;
    margin-right: auto;
    color: var(--font_clr_secondary);
}

.pokemon-list {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.poke-button {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--font_clr_pokemon_btn);
    border: none;
    border-radius: 8px;
    padding: 10px 12px;
    background-color: var(--poke_btn_background_clr);
}

.poke-button:hover {
    -webkit-box-shadow: 0 5px;
    box-shadow: 0 5px;
    background-color: var(--poke_btn_background_darker);
}

/* Modals Example */
#modal-container {
    display: none;

}

#modal-container.is-visible {
    display: block;
}

.modal {
    z-index: 1;
    display: block;
    width: 70%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid var(--modal_border);
    border-radius: 12px;
    text-align: center;
    background-color: var(--modal_background_clr);
}

.modal__title,
.modal__text {
    color: var(--font_clr_secondary);
}

/* button */
#show-modal {
    display: none;
}

.modal-close {
    background-color: var(--modal_close_btn);
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    padding: 2px 10px;
}

.modal-close:hover {
    -webkit-box-shadow: 0 3px var(--modal_close_btn_hover);
    box-shadow: 0 3px var(--modal_close_btn_hover);
}

/* media query */
@media (max-width: 1024px) {
    .pokemon-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }
}

/* --------------------------- */
@media (max-width: 768px) {
    .pokemon-list {
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .pokedex-container__title {
        font-size: 2.2rem;
    }

    .poke-button {
        font-size: 1.3rem;
    }

    .modal__title {
        font-size: 1.6rem;
    }

    .modal__text {
        font-size: 1.4rem;
    }
}

/* -------------------------- */
@media (max-width: 480px) {
    .pokemon-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
        -ms-flex-pack: distribute;
        justify-content: space-around;
    }

    .poke-button {
        font-size: 1.2rem;
        color: black;
    }

    .modal__title {
        font-size: 1.4rem;
        font-weight: bold;
    }

    .modal__text {
        font-size: 1.2rem;
    }
}

/* **** */